{% extends "base.html" %}

{% block static_resources %}
<link href="/static/css/add-students.css" rel="stylesheet" />
{% endblock %}

{% block title %}Add students{% endblock %}

{% block content %}
<h1>Enter a list of NetIDs, one per line.</h1>
<input name="netids" type="textarea" placeholder="List of NetIDs here..."></input>

<p class="warning">
	If you press "Submit", the following actions will happen:
	1) Any existing students in the database will be removed.
	2) The new student users (based on the NetIDs entered above) will be created.
	3) New students will be emailed a unique link to the discussion section form.
	4) Staff will be emailed the list of NetIDs that was entered.
</p>

<button class="btn-med btn-red" method="post" type="submit">Submit</button>
{% endblock %}
