{% extends "base.html" %}

{% block static_resources %}
<link href="/static/css/index.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<h1>Welcome to the CS242 discussion scheduling app!</h1>

{% if not session.user_id %}
	<a class="btn-med btn-grn" href="/auth/password">Log in</a>
	<a class="btn-med btn-blu" href="/auth/reset">Can't log in?</a>
{% elif session.is_passworded %}
	<a class="btn-med btn-blu" href="/sections/manage">Manage sections</a>
	<a class="btn-med btn-blu" href="/users/manage">Manage users</a>
{% else %}
	<a class="btn-med btn-grn" href="/sections/pick">Pick sections</a>
{% endif %}

{% endblock %}
