{% extends "base.html" %}

{% block title %}Staff Login{% endblock %}

{% block static_resources %}
<link href="/static/css/login.css" rel="stylesheet"></link>
{% endblock %}

{% block content %}
<h1>Staff Login</h1>

<form method="post">
	<input name="username" class="large" type="text" placeholder="Username"></input>
	<input name="password" class="large" type="text" placeholder="Password" password="password"></input>

	<div class="right-btns">
	<button type="submit" class="btn-med btn-grn">Submit</button>
	<a class="btn-med btn-grn" href="/auth/reset">Reset password</a>
	</div>
</form>

<p class="students-warning">Students: login via your email'ed auth link. Go <a href="/auth/reset">here</a> if you forgot it.</p>

{% endblock %}
