{% extends "base.html" %}

{% block title %}Staff Login{% endblock %}

{% block static_resources %}
<link href="/static/css/login.css" rel="stylesheet"></link>
{% endblock %}

{% block content %}
<h1>Staff Login</h1>

<input class="large" type="text" placeholder="Username"></input>
<input class="large" type="text" placeholder="Password" type="password"></input>

<div class="right-btns">
<button method="post" type="submit" class="btn-med btn-grn">Submit</button>
<a method="post" type="submit" class="btn-med btn-grn" href="/auth/reset_password">Reset password</a>
</div>

<p class="students-warning">Students: login via your email'ed auth link. Go <a href="/auth/reset_authcode">here</a> if you forgot it.</p>

{% endblock %}
