{% extends "base.html" %}

{% block title %}Manage sections{% endblock %}

{% block static_resources %}
<script src="/static/js/section-manager.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/css/section-manager.css" />
<link rel="stylesheet" href="/static/css/dialog.css" />
{% endblock %}

{% block content %}

<!-- Main page contents -->
<h1>Manage Discussion Sections</h1>

<div class="section-list">
	{% for day in section_days %}
		<div class="section-day">{{ day }}</div>
		{% for section in section_days[day] %}
			<div class="section-details" data-id="{{ section.id }}">
				{{ section.time }}
				<div class="section-actions">
					<i class="fa fa-edit action-edit" data-id="{{ section.id }}" data-weekday="{{ day }}" data-time="{{ section.time }}"></i>
					<i class="fa fa-remove action-delete" data-id="{{ section.id }}"></i>
				</div>
			</div>
		{% endfor %}
	{% endfor %}
</div>

<!-- Misc. -->
<button id="ADD_SECTION" class="btn-med btn-grn">Add Section</button>
<div class="dialog-blur"></div>

<!-- Add/Edit dialog -->
<div class="dialog section-dialog" id="DIALOG_ADD_EDIT" style="display:none">
	<!-- Inline display:none is to hide the dialog by default -->
	<div class="dialog-title"></div>

	<div class="dialog-inputs">
		<input name="weekday" placeholder="Day of week" title="Day of week"></input>
		<input name="time" placeholder="Time of day" title="Time of day"></input>
	</div>
	<div class="dialog-buttons">
		<div class="BUTTON_CANCEL btn-med btn-blu">Cancel</div>
		<div id="BUTTON_SAVE" class="btn-med btn-red">Save</div>
	</div>
</div>

<!-- Delete dialog -->
<div class="dialog section-dialog" id="DIALOG_DELETE" style="display:none">
	<!-- Inline display:none is to hide the dialog by default -->
	<div class="dialog-title">Confirm deletion</div>
	<div class="dialog-buttons">
		<div class="BUTTON_CANCEL btn-med btn-blu">Cancel</div>
		<div id="BUTTON_DELETE" class="btn-med btn-red">Delete</div>
	</div>
</div>

{% endblock %}
