{% extends "base.html" %}

{% block title %}Section preferences{% endblock %}

{% block static_resources %}
<link rel="stylesheet" href="/static/css/section-picker.css"></link>
{% endblock %}

{% block content %}
<h1>Enter your preferences below.</h1>
<div class="instructions">
	<p>Mark sections you can attend with a number from 1 (least preferred) to 10 (most preferred).</p>
	<p>If you <em>cannot</em> attend a section, mark it with a <em>0</em>. TAs reserve the right to verify conflicts.</p>
</div>

<form method="POST">
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"></input>
	<div class="section-list">
		{% for day in section_days %}
			<div class="section-day">{{ day }}</div>
			{% for section in section_days[day] %}
				<div class="section-details" data-id="{{ section.id }}">
					{{ section.time }}
					<div class="section-rating">
						<select name="rating{{ section.id }}">
							{% for i in range(11) %}
								<option value="{{ i }}" {% if i==1 %}selected{% endif %}>{{ i }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	</div>

	<button class="btn-med btn-grn" type="submit">Submit</button>
</form>
{% endblock %}
