{% extends "base.html" %}

{% block title %}Send reset link{% endblock %}

{% block static_resources %}
<link href="/static/css/reset.css" rel="stylesheet"></link>
{% endblock %}

{% block content %}
<h1>Enter your your new password below.</h1>

<form method="post" >
	<input class="large" type="text" name="password" placeholder="Password" type="password"></input>
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"></input>
	<button type="submit" class="btn-med btn-grn">Submit</button>
</form>

Rules: 12+ characters long, 8+ different characters, case sensitive
{% endblock %}
